<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<!-- Spritesheet created with https://gdcolon.com/gdsplitter -->
	<dict>
		<key>frames</key>
		<dict>
			<key>CC_shipExplosion_001_00.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,60}</string>
				<key>spriteSourceSize</key>
				<string>{80,60}</string>
				<key>textureRect</key>
				<string>{{0,0},{80,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CC_shipExplosion_001_01.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,60}</string>
				<key>spriteSourceSize</key>
				<string>{80,60}</string>
				<key>textureRect</key>
				<string>{{0,61},{80,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CC_shipExplosion_001_02.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,60}</string>
				<key>spriteSourceSize</key>
				<string>{80,60}</string>
				<key>textureRect</key>
				<string>{{81,0},{80,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>CC_shipExplosion_001_03.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,60}</string>
				<key>spriteSourceSize</key>
				<string>{80,60}</string>
				<key>textureRect</key>
				<string>{{81,81},{80,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>CC_shipExplosion_001_04.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,60}</string>
				<key>spriteSourceSize</key>
				<string>{80,60}</string>
				<key>textureRect</key>
				<string>{{0,122},{80,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CC_shipExplosion_001_05.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,60}</string>
				<key>spriteSourceSize</key>
				<string>{80,60}</string>
				<key>textureRect</key>
				<string>{{142,0},{80,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>CC_shipExplosion_001_06.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,60}</string>
				<key>spriteSourceSize</key>
				<string>{80,60}</string>
				<key>textureRect</key>
				<string>{{142,81},{80,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>CC_shipExplosion_001_07.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,60}</string>
				<key>spriteSourceSize</key>
				<string>{80,60}</string>
				<key>textureRect</key>
				<string>{{0,183},{80,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CC_shipExplosion_001_08.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,60}</string>
				<key>spriteSourceSize</key>
				<string>{80,60}</string>
				<key>textureRect</key>
				<string>{{81,162},{80,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>CC_shipExplosion_001_09.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,60}</string>
				<key>spriteSourceSize</key>
				<string>{80,60}</string>
				<key>textureRect</key>
				<string>{{142,162},{80,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>CC_shipExplosion_001_10.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,60}</string>
				<key>spriteSourceSize</key>
				<string>{80,60}</string>
				<key>textureRect</key>
				<string>{{203,0},{80,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>CC_shipExplosion_001_11.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,60}</string>
				<key>spriteSourceSize</key>
				<string>{80,60}</string>
				<key>textureRect</key>
				<string>{{203,81},{80,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>CC_shipExplosion_001_12.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,60}</string>
				<key>spriteSourceSize</key>
				<string>{80,60}</string>
				<key>textureRect</key>
				<string>{{203,162},{80,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>CC_shipExplosion_001_13.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,60}</string>
				<key>spriteSourceSize</key>
				<string>{80,60}</string>
				<key>textureRect</key>
				<string>{{0,244},{80,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CC_shipExplosion_001_14.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,60}</string>
				<key>spriteSourceSize</key>
				<string>{80,60}</string>
				<key>textureRect</key>
				<string>{{81,243},{80,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CC_shipExplosion_001_15.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,60}</string>
				<key>spriteSourceSize</key>
				<string>{80,60}</string>
				<key>textureRect</key>
				<string>{{162,243},{80,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CC_shipExplosion_001_16.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,60}</string>
				<key>spriteSourceSize</key>
				<string>{80,60}</string>
				<key>textureRect</key>
				<string>{{264,0},{80,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>CC_shipExplosion_001_17.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,60}</string>
				<key>spriteSourceSize</key>
				<string>{80,60}</string>
				<key>textureRect</key>
				<string>{{264,81},{80,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>CC_shipExplosion_001_18.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,60}</string>
				<key>spriteSourceSize</key>
				<string>{80,60}</string>
				<key>textureRect</key>
				<string>{{264,162},{80,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>CC_shipExplosion_001_19.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,60}</string>
				<key>spriteSourceSize</key>
				<string>{80,60}</string>
				<key>textureRect</key>
				<string>{{243,243},{80,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CC_shipExplosion_001_20.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,60}</string>
				<key>spriteSourceSize</key>
				<string>{80,60}</string>
				<key>textureRect</key>
				<string>{{0,305},{80,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CC_shipExplosion_001_21.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,60}</string>
				<key>spriteSourceSize</key>
				<string>{80,60}</string>
				<key>textureRect</key>
				<string>{{81,304},{80,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CC_shipExplosion_001_22.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,60}</string>
				<key>spriteSourceSize</key>
				<string>{80,60}</string>
				<key>textureRect</key>
				<string>{{162,304},{80,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CC_shipExplosion_001_23.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,60}</string>
				<key>spriteSourceSize</key>
				<string>{80,60}</string>
				<key>textureRect</key>
				<string>{{243,304},{80,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>CC_shipExplosion_001_24.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,60}</string>
				<key>spriteSourceSize</key>
				<string>{80,60}</string>
				<key>textureRect</key>
				<string>{{325,0},{80,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>CC_shipExplosion_001.png</string>
			<key>size</key>
			<string>{385,365}</string>
			<key>textureFileName</key>
			<string>CC_shipExplosion_001.png</string>
		</dict>
	</dict>
</plist>